@model IEnumerable<ByChoice.Models.CreaditRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agent.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Micro.MicroName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDeclineDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreaditConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSelected)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agent.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Micro.MicroName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDeclineDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreaditConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSelected)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CreaditRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CreaditRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CreaditRequestId })
        </td>
    </tr>
}

</table>
