@model ByChoice.Models.Micro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Micro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="/Microe/RetrieveImage/@Model.Id" alt="" height=130 width=180 />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MicroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MicroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.TaxNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.TaxNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Region.RegionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Subcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Subcity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Woreda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Woreda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Kebele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Kebele)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.HouseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.HouseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IntrestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntrestRate)%
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
