<div class="navbar-right" style="border-left-style:inherit" ; width="250px">
    <div>
        <table class="table table-hover">
            <tr>
                <td align="center" style="font-size:medium">
                    Our Services
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Know Warranty Terms", "Index", "Home")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Locate Service Center", "About", "Home")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Search/ Verify Product", "Contact", "Home")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Find Service Provider", "Index", "Home")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Contact Us", "About", "Home")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Add Coment", "About", "Home")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Login", "Contact", "Home")
                </td>
            </tr>
        </table>
    </div>
</div>
