<div>
   
    <h5 style="text-align:center; color:white;"> Our Services</h5>
    <table class="table table-hover">
        <tr>
            <td align="center">
                @Html.ActionLink("Product Match", "CustomerProductMatch", "ProductMatche", null, new { @style = "color:gray;" })
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Know Warranty Terms", "Index", "Home", null, new { @style = "color:gray;" })
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Locate Agent", "AgentLocator", "OnGo", null, new { @style = "color:gray;" })
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Search/ Verify Product", "Contact", "Home", null, new { @style = "color:gray;" })
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Find Service Provider", "Index", "Home", null, new { @style = "color:gray;" })
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Contact Us", "About", "Home", null, new { @style = "color:gray;" })
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Add Coment", "About", "Home", null, new { @style = "color:gray;" })
            </td>
        </tr>
    </table>
</div>
