@model IEnumerable<ByChoice.Models.OrderList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductModel.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductModel.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderListId })
        </td>
    </tr>
}

</table>
