@model  ByChoice.Models.AgentEvent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Event Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventType.EventName)
        </dd>

        <dt>
            Post Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.PostDate)
        </dd>

        <dt>
            Event Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Event")
</p>